<div class="container">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2"> Tu catálogo de juegos PS</h3>

        {{#if juegos}}

            <table class="table text-center">
                <thead>
                    <tr class="table-dark">
                        <th scope="col" class="col-4"> Videojuego  </th>
                        <th scope="col"> Consola   </th>
                        <th scope="col"> Distribuidor       </th>
                        <th scope="col"> Fecha de lanzamiento  </th>
                        <th scope="col"> Clasificación PEGI  </th>
                        <th scope="col"> Imagen  </th>
                        <th scope="col"> Acciones   </th>
                    </tr>
                </thead>
                <tbody>
                    
                    {{#each juegos}}
                        <tr>
                            <td> {{GAME}} </td>
                            <td> {{CONSOLE}} </td>
                            <td> {{PUBLISHER}} </td>
                            <td> {{RELEASE_DATE}} </td>
                            <td> {{PEGI_INFO}} </td>
                            <td>
                                <img src="/uploads/{{imagen}}" class="card-img-top mx-auto m-2 rounded-circle" style="width: 200px; height: 170px;display:block;">
                            </td>
                            <td> 
                                <div class="btn-group">
                                    <a href="/edit/{{id}}" class="btn btn-warning p-2">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                    <a href="/delete/{{id}}" class="btn btn-danger p-2">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}

                </tbody>
            </table>

        {{else}}

            <div class="card text-center mx-auto">
                <div class="card-header">
                    <h3> Para visualizar esta sección, primero debes de añadir tu juego</h3>
                </div>
                <div class="card-body">
                    <p>Pulsa este boton para añadir tu juego</p>
                    <a href="/add" class="btn btn-primary"> Añadir juego</a>
                </div>
            </div>

        {{/if}}

    </div>
</div>
